body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background-color: #696C78;
	font-size: 100%;
}
img {
    display: block;
    position: relative;
    left: -50%;
}
.wrapper {
    position: absolute;
    left: 50%;
}
.flex-container {
  	display: flex;
  	flex-wrap: nowrap;
  	background-color: #D4DAF3;
	padding-top: 10px;
	padding-bottom: 10px;
}
.flex-container .box {
  	background-color: #D4DAF3;
  	width: 50%;
  	margin: 10px;
  	text-align: center;
  	line-height: 1.6;
  	font-size: large;
}